<table id="table" calss="table">
    table tag

    <thead>
        table head

        <tr>
            table row
        
        <th scope="c1" colspan="3">col 1 header</th>
        <th scope="c2">col 2 header</th>
        <th scope="c3">col 3 header</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="r1">row 1 header</th>
            <td colspan="3">data tag (r1)</td>
            <td colspan="3">data tag (r1)</td>
        </tr>
        <tr>
            <th scope="r2">row 2 header</th>
            <td colspan="3">data tag (r2)</td>
            <td colspan="2">data tag (r2)</td>
        </tr>

    </tbody>

</table>